service firebase.storage {
  match /b/{bucket}/o {
    match /{userID}/{questionID} {
      allow read: if true;
      allow create: if request.auth.uid==userID
    }
    match /{userID}/{questionID}/{answerID} {
      allow create, read: if true;
    }
  }
}